body{
    margin: 0;
}

.logo{
    margin-left: 50px;
}
.cabecalho{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    text-align: left;
    
}

.menu__lista{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    
}

.menu__item{
    margin-right: 2rem;

}


.menu__link{
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: black;
    
}

.menu__link::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    
    
}

.menu__link:hover::after{
    width: 100%;
}
